*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

button {
    width: 50%;
    background-color: aqua;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#p2{
    border: 1px solid black;
    margin: 50px;
    border-radius: ;
}