body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #29a9bc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header img {
    max-height: 40px;
    margin-right: 20px;
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.header nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-group-smaller select{
    width: 200px;
}

label {
    flex: 0.5;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    color: #555;
}

.select-container {
    flex: 1;
    display: flex;
    align-items: center;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 10px;
}

button {
    padding: 10px 20px;
    background-color: #29a9bc;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff;
}

#results {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
}

#total-price,
#total-power {
    font-size: 18px;
    color: #333;
}

.component-image {
    max-width: 100px;
    border-radius: 4px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.card {
    width: 30%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100px;
    margin-bottom: 20px;
}

.card h3 {
    color: #29a9bc;
    margin-bottom: 15px;
}

.card p {
    color: #555;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #29a9bc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #007bff;
}
.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #29a9bc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #007bff;
}

.footer {
    background-color: #c4c4c4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .skilly-logo {
    max-height: 40px;
    vertical-align: middle;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        text-align: left;
        margin-bottom: 5px;
    }

    select {
        width: 100%;
    }

    .select-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .select-container img {
        margin-bottom: 10px;
    }

    .header {
        flex-direction: column;
    }

    .header img {
        margin-bottom: 10px;
    }

    .header nav {
        flex-direction: column;
    }

    .header nav a {
        margin: 5px 0;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}
